.photo-grid__container {
  width: calc(100% - 96px);
  margin: auto;
  display: grid;
  gap: 14px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
}

@media screen and (min-width: 1280px) {
  .photo-grid__container {
    gap: 16px;
  }
}

@media screen and (max-width: 1023px) {
  .photo-grid__container {
    gap: 16px;
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .photo-grid__container {
    gap: 12px;
    width: calc(100% - 32px);
  }
}