.places__container {
  width: calc(100% - 96px);
  margin: auto;
}

@media screen and (min-width: 1280px) {
  .places__container {
    width: calc(100% - 296px);
  }
}

@media screen and (max-width: 1023px) {
  .places__container {
    width: calc(100% - 48px);
  }
}

@media screen and (max-width: 767px) {
  .places__container {
    width: 100%;
  }
}