.intro {
  padding-left: 48px;
}

@media screen and (min-width: 1280px) {
  .intro {
    padding-left: 148px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}  

@media screen and (max-width: 320px) {
  .intro {
    padding-left: 16px;
    padding-right: 16px;
  }
}  